body {
    background-color: rgb(224, 224, 224);
    color:rgb(41, 41, 41);
    font-size: 16px;
    margin: 6em;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: rgba(11, 186, 255, 0.945);
    text-decoration: none;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.info{
    display: flex;
}

@media (max-width: 600px) {
    .info, .avatar{
        display: block;
        text-align: center;
    }
}

.infotext{
    font-style: italic;
    padding-left: 20px;
}

.bg-yel{
    background: rgb(225, 222, 255);
}

.bg-gr{
    background: rgb(218, 255, 218);
}

.bg-gray{
    background: rgb(255, 254, 213);
}

.bg-blum{
    background: rgb(255, 212, 212);
}

.card{
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;
}

.list{
    padding: 20px;
}

.list li{
    color: rgb(0, 0, 0);
}

.table1{
    width: 100%;
}

.table1 td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px; 
    
}

.table1 td:nth-child(2), .table1 td:nth-child(3){
    color: rgb(0, 0, 0);
}

.contact{
    text-align: center;
}

.formgroup{
    display: flex;
}

.em{
    margin-left: 60px;
}

.form-group label{
    display: block;
}

.form-group input, textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color:rgb(0, 0, 0);
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    background: transparent;
    font-style: italic;
}

.btn{
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    cursor: pointer;
    border: none; 
}
